/* ==========================================================================
   Homepage specific Styles
   ========================================================================== */

.home-slider {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 0px !important;
}

img.img-home-slider {
  width: 100%;
  max-width: 1100px;
  margin: 0px auto;
  padding: 0px;
  display: block;
  border-bottom: 5px solid $color-darkCement;
}

.welcome {
  background-color: #fff;
  @include opacity(0.8);
  width: 40%;
  height: 100%;
  padding: 20px;
  position: absolute;
  right: 20px;
  top: 0;
}

.welcome h1 {
  color: $color-darkGreen;
  margin: 0px;
}

.welcome p {
  color: $color-darkGreen;
  font-size: 20px;
  font-size: 2rem;
  text-align: justify;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.welcome a {
  font-size: 25px;
  font-size: 2.5rem;
  display: block;
  font-weight: 600;
  color: $color-darkGreen;
  text-decoration: underline;
  text-align: center;
}

@media screen and (max-width: $tablet) {
 .welcome h1 {
  font-size: 28px;
  font-size: 2.8rem;
  } 
  .welcome p {
  font-size: 16px;
  font-size: 1.8rem;
  }
  .welcome a {
  font-size: 20px;
  font-size: 2rem;
  }
}

@media screen and (max-width: $tablet-small) {
 .welcome {
  display: none;
  }
}
section.latest-news, section.latest-events {
  width: 96%;
  padding: 0% 2% 0% 2%;
  margin: 0px;
  display: inline-block;
  border-bottom: 2px solid $color-darkCement;
  border-top: 2px solid $color-darkCement;

  article.post-wrap {
    background-color: $color-lightGrey;
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
    vertical-align: top;
    display: table;


    h1, p {
      padding: 0px 0px 0px 0px;
    }

    .post-featured {
      padding: 0;
      display: table-cell;
      height: 100%;
      position: relative;
      //background-color: lighten( $color-darkGreen,10%);
      @include background-image(linear-gradient(lighten( $color-darkGreen,10%), $color-darkGreen));
      clear: both;
      vertical-align: top;
    }

    @media screen and (min-width: 651px) {
      .post-featured {
        width: 26%;
        display: table-cell;
      }
    }

    @media screen and (max-width: 650px) {
      .post-featured {
        width: 100%;
        display: block;
      }

      img {
        width: 100%;
      }

      .post-meta {
        display: none;
      }

      .social-tripadvisor {
        display: none;
      }
    }
    
    .post-excerpt {
      width: 95%;
      padding: 10px 2%;
      text-align: justify;
      display: table-cell;
    }

    .post-meta, .post-meta-event {
      text-align: center;
      color: $color-white;

      .post-meta-day {
        font-size: 4rem;
        font-size: 40px;
      }
      .post-meta-month{
        font-size: 3rem;
        font-size: 30px;
      }

      .post-meta-author a:link, .post-meta-author, .post-meta-date {
        font-size: 2rem;
        font-size: 20px;
        color: #fff;
      }

      .post-meta-date-side {
        font-size: 2rem;
        font-size: 20px;
        color: #fff;        
      }
    }

    img {
      border: 0px;
    }
  }

  img.img-news {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    border: 2px solid $color-darkCement;
  }

  .news-item {
    width: 70%;
    display: inline-block;
  }

  @media screen and (max-width: $tablet-small) {
   img.img-news {
    display: none;
    }
    .news-item {
      width: 90%;
    }
  }

  h1 {
    font-size: 35px;
    font-size: 3.5rem;
    margin: 0px;
    color: $color-darkGreen;
    padding: 10px 0;
    text-shadow: 0 0 5px rgba(0,0,0,0.1);
  }

  p {
    font-size: 20px;
    font-size: 2rem;
    margin: 5px 0;
    color: $color-darkGreen;
    text-align: justify;
  }

  a.read-more {
    font-size: 25px;
    font-size: 2.5rem;
    color: $color-darkGreen;
    float: right;
    text-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
}

article.home-post h1 {
  font-size: 30px;
  font-size: 3rem;
}

section.info {
  width: 25%;
  min-height: 500px;
  background-color: $color-lightGrey;
  display: inline-block;
  margin: 0px auto;
  vertical-align: top;
  position: relative;
  text-align: center;
}

section.info p {
  width: 96%;
}

section.info:hover {
  background-color: darken($color-lightGrey, 5%);
  @include transition(background-color 1s ease-in-out);
 
}

a.info-link {
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: bottom;
  margin: 20px auto;
  display: block; 
}

@media screen and (max-width: $tablet-small) {
  section.info {
    width: 48%;
    margin: 10px 1%;
  }
}

a.info-clock {
  @include retina-sprite(openingtimes, $hover: true, $active: false);
}

a.info-tickets {
  @include retina-sprite(tickets, $hover: true, $active: false);
}

a.info-events {
  @include retina-sprite(specials, $hover: true, $active: false);
}

a.info-maps {
  @include retina-sprite(directions, $hover: true, $active: false);
}

a.info-facebook {
  @include retina-sprite(facebook, $hover: true, $active: false);
}

a.info-twitter {
  @include retina-sprite(twitter, $hover: true, $active: false);
}


.sign a {
  color: #fff;
  font-size: 20px;
  font-size: 2rem;
  background-image: url('images/sign.png');
  background-repeat: no-repeat;
  width: 180px;
  height: 82px;
  margin: 20px 0 0 -90px;
  padding: 25px 0 0 0;
  position: absolute;
  bottom: 10px;
  left: 50%;
  display: block;
}

@media screen and (max-width: $mobile) {
  section.info {
    width: 49%;
    margin: 2px 0.5%;
  }

  .sign a {
    background-size: 120px 56px;
    font-size: 14px;
    font-size: 1.4rem; 
    width: 120px;
    height: 56px;
    margin: 0px 0 0 -53px;
    padding: 17px 0 0 0;
  }
}



section.social {
  margin: 20px 0;

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    li {
      min-height: 130px;
    }

    a {
      color: $color-darkGreen;
    }
}
@media screen and (min-width: 800px) {
  section.social {
    width: 33.333%;
    float: left;
  }
}
@media screen and (max-width: 800px) {
  section.social {
    width: 90%;
    margin: 10px auto;
    display: block;
  }
}

.follow-twitter {
  display: block;
}

a.share-home {
  width: 100% !important;
  height: auto !important;
  min-height: 70px;
  font-size: 20px;
  font-size: 2rem;
 // padding: 10px;
  margin: 0 auto;
  display: block;
}

a.share-link-home:link {
    width: 100px;
    height: 35px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

a.share-tripadvisor:link, a.share-tripadvisor:visited {
    background-color: #4B7E37;
    color: #fff;
    border: 2px solid #4B7E37;
}

a.share-tripadvisor:hover {
    background-color: #fff;
    color: #4B7E37;
}

.social-image:hover {
  background-position: top;
}

@media screen and (min-width: 801px) {
  .social-image {
    width: 150px;
    margin: 0 auto;

    img {
      max-width: 150px;
      width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 800px) {
  .social-image {
    width: 60px;
    height: 60px;
    float: left;

    img {
      max-width: 60px !important;
      max-height: 60px;
      width: 100%;
      display: block;
      margin: 0 auto;
    }

    a.info-link {
      max-height: 60px;
      max-width: 60px;
      background-size: 100%;
      background-image: url('images/sprites-retina/buttons-s8027c8ff91.png');
      margin: 5px 0px 5px 5px;
    }

    a.info-twitter {
      background-position: 0 -720px !important;
    }
    a.info-twitter:hover {
      background-position: 0 -780px !important;
    }

    a.info-facebook {
      background-position: 0 -120px !important;
    }
    a.info-facebook:hover {
      background-position: 0 -180px !important;
    }
  }
    
  ul.home-tweets-ul {
    display: none;

    li {
      margin: 0px;
    }
  }

  
}

.social-tripadvisor {
  height: 140px;
  margin-top: 15px;
  display: block;
}

@media screen and (max-width: 650px) {
  .social-tripadvisor {
    display: none;
  }
}

#CDSWIDCOE {
  margin: 32px auto 0 auto !important;
}

.social-box {
  width: 90%;
  margin: 0 auto;
  text-align: justify;
}

@media screen and (min-width: 800px) {
  .social-image, .social-box {
   
  }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
  .social-box {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .social-image {
    margin: 0 auto;
  }

  .social-box {
    width: 90%;
    margin: 0px auto;
    display: block
  }
}